@import '~bulma/bulma.sass';

.is-fullwidth {
    width: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .header, .footer {
        width: 100%;
    }
    .main-content {
        flex-grow: 1;
    }
}

.footer {
    padding: 2em;
}

.header {
    position: relative;
}

.main-notification {
    position: absolute;
    bottom: -50%;
    right: 0;
    margin: 1em;
    transform: translateY(100%);
}
